.wrapper-user{
    height: 100vh;
}

.header_user{

    width: 250px;
    height: 100%;

    position: relative;

    #logo-header{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        padding-top: 20px;
        img{
            width: 150px;
        }
    }

    #navbar_header{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #6153CC;

        ul{
            list-style-type: none;
            padding: 0;

            li{
                padding-bottom: 25px;
                position: relative;

                a{
                    text-decoration: none;
                    color: rgba(255,255,255,0.5);
                    font-size: 1.3rem;
                }

                .line-decoration{
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, 0);
                    width: 5px;
                    height: 5px;
                    border-radius: 20px;
                    background-color: rgba(255,255,255,0.5);
                }

                &:hover{
                    a{
                        color: white;
                    }
        
                    .line-decoration{
                        background-color: white;
                        transition: all 0.3s;
                        width: 35px;
        
                    }
                }
            }
        }

        .active{

            a{
                color: white;
            }

            .line-decoration{
                background-color: white;
                width: 35px;

            }
        }
    }

    #logout-navbar{
        border-top: 1px solid #dddddd;
        padding-top: 15px;
        position: absolute;
        bottom: 130px;

        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: 1.3rem;
                color: white;


            }
            
            .navbarDropdown{
                color: white;
            }
            
            #dropdown-item{
                color: black;
                padding: 5px;
            }
        }
    }
    
}

.main-user{
    width: calc(100vw - 250px);
    height: 100%;
    overflow: auto;

    background: rgb(255,166,246);
    background: linear-gradient(90deg, rgba(255,166,246,0.30015756302521013) 0%, rgba(251,251,251,1) 50%, rgba(161,155,204,0.6026785714285714) 100%);
}

// media query tablet
@media screen and (max-width: 768px) {
    .header_user{
        width: 150px;

        #logo-header{
            display: flex;
            justify-content: center;
            width: 125px;
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 20px 0;

            img{
                width: 80px;
            }
        }

        #navbar_header{
            ul{
                li{
                    a{
                        font-size: 1.2rem;
                    }

                    .line-decoration{
                        height: 3.5px;
                    }
                }
            }
        }

        #logout-navbar{
            li{
                a{
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    .main-user{
        width: calc(100vw - 150px);
    }
}

// media query smartphone
@media screen and (max-width: 576px) {
    .header_user{

        width: 100px;

        #logo-header{

            img{
                width: 50px;
            }
        }

        #navbar_header{
            ul{
                li{
                    a{
                        font-size: 0.9rem;
                    }

                }
            }
        }

        #logout-navbar{
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
    }

    .main-user{
        width: calc(100vw - 100px);
    }

}