.email{
    position: relative;
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    form{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 5;
    }
}